.homepage-signup {
    padding-top: 2rem;

    @include media-breakpoint-up(sm) {
        padding-top: 4rem;
    }
}

.homepage-currencyprices {
    margin-top: 2rem;

    .container {
        background: #D8D8D8;
    }
}