.coinbank-jumbotron {
    background-color: #2775AE;
    color: #FFF;
    padding: 4rem 2rem 3rem;

    .coinbank-jumbotron-title {
        font-size: 48px;
        font-weight: 700;
    }

    .coinbank-jumbotron-subtitle {
        font-size: 16px;
        font-weight: 100;
    }
    
    .coinbank-jumbotron-info-container {
        margin-top: 100px;
    }

    .coinbank-jumbotron-logo-container {
        text-align: center;
        background-image: url('../../assets/logo-background.svg');
        background-size: cover;
        min-height: 350px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: -20px;

        .coinbank-jumbotron-logo {
            padding-top: 80px;
            width: 170px;
        }
    }
}
